{% extends "base.html" %} {% block head%}

<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock %} {% block content %}


	<form id="payment-form">
		<h1>Оплатить все заказы</h1>
	{% for item in order.items.all %}

		<div class="card-body">
		<h5 class="card-title">{{ item.name }}</h5>
		<p class="card-text">{{ item.description }}</p>
		<p>{{ item.get_formatted_price }} {{ item.currency }}</p>
		<div>
	{% endfor %}
	{% if order.discount is not None %}
			<div class="card-body">
			<h2>Скидка</h2>
			<div class="card-flex">
			<h5 class="card-title">{{ order.discount.name }}</h5>
			{% if order.discount.type == 'percentage' %}
				<h5 class="card-title">{{ order.discount.amount }}</h5>
			{% else %}
				<p>{{ order.discount.amount.amount_formatted_price }}</p>
			{% endif %}
			</div>
			</div>
	{% endif %}

	{% if order.tax is not None %}
			<div class="card-body">
			<h3>Налог</h3>

			<div class="card-flex">
			<p>{{ order.tax.name }}</p>
			<p>{{ order.tax.percent }} %</p>
			</div>
			</div>
			</div>
			<div class="card-body">
	{% endif %}
	<h3>Итого</h3>
	<p>{{ order.total_formatted_price }} {{ order.currency }}</p>


    <input type="text" id="email" placeholder="Email address" />
    <div id="card-element"><!--Stripe.js injects the Card Element--></div>
    <button id="submit">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Buy</span>
    </button>
    <p id="card-error" role="alert"></p>
    <p class="result-message hidden">
      Оплата прошла успешно
		<a href="" target="_blank">Посмотерть информацию о платеже</a>
    </p>
  </form>



{% csrf_token %} {% endblock %} {% block footer %}

<script type="text/javascript">
  const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;

  var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");

  document.querySelector("button").disabled = true;

  var elements = stripe.elements();
  var style = {
    base: {
      color: "#32325d",
      fontFamily: "Arial, sans-serif",
      fontSmoothing: "antialiased",
      fontSize: "16px",
      "::placeholder": {
        color: "#32325d",
      },
    },
    invalid: {
      fontFamily: "Arial, sans-serif",
      color: "#fa755a",
      iconColor: "#fa755a",
    },
  };
  var card = elements.create("card", { style: style });
  // Stripe injects an iframe into the DOM
  card.mount("#card-element");
  card.on("change", function (event) {
    // Disable the Pay button if there are no card details in the Element
    document.querySelector("button").disabled = event.empty;
    document.querySelector("#card-error").textContent = event.error
      ? event.error.message
      : "";
  });
  var form = document.getElementById("payment-form");
  form.addEventListener("submit", function (event) {
    event.preventDefault();
    // Complete payment when the submit button is clicked
    fetch("{% url 'order-buy' order.id %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({
        email: document.getElementById("email").value,
      }),
    })
      .then(function (result) {
        return result.json();
      })
      .then(function (data) {
        payWithCard(stripe, card, data.clientSecret);
      });
  });


  var payWithCard = function (stripe, card, clientSecret) {
    loading(true);
    stripe
      .confirmCardPayment(clientSecret, {
        payment_method: {
          card: card,
        },
      })
      .then(function (result) {
        if (result.error) {

          showError(result.error.message);
        } else {
          // The payment succeeded!
          orderComplete(result.paymentIntent.id);
        }
      });
  };

  var orderComplete = function (paymentIntentId) {
    loading(false);
    document
      .querySelector(".result-message a")
      .setAttribute(
        "href",
        "https://dashboard.stripe.com/test/payments/" + paymentIntentId
      );
    document.querySelector(".result-message").classList.remove("hidden");
    document.querySelector("button").disabled = true;
  };

  var showError = function (errorMsgText) {
    loading(false);
    var errorMsg = document.querySelector("#card-error");
    errorMsg.textContent = errorMsgText;
    setTimeout(function () {
      errorMsg.textContent = "";
    }, 4000);
  };

  var loading = function (isLoading) {
    if (isLoading) {

      document.querySelector("button").disabled = true;
      document.querySelector("#spinner").classList.remove("hidden");
      document.querySelector("#button-text").classList.add("hidden");
    } else {
      document.querySelector("button").disabled = false;
      document.querySelector("#spinner").classList.add("hidden");
      document.querySelector("#button-text").classList.remove("hidden");
    }
  };
</script>

{% endblock %}
